{% extends "base.html" %}
{% load static %}

{% block body_content %}
<div class="rbt-lesson-area bg-color-white">
    <div class="rbt-lesson-content-wrapper">
        <div class="rbt-lesson-leftsidebar">
            {% include "courses/lesson_navbar.html" %}
        </div>

        <div class="rbt-lesson-rightsidebar overflow-hidden lesson-video">
            <div class="lesson-top-bar">
                <div class="lesson-top-left">
                    <div class="rbt-lesson-toggle">
                        <button class="lesson-toggle-active btn-round-white-opacity" title="Toggle Sidebar"><i class="feather-arrow-left"></i></button>
                    </div>
                    <h5>The Complete Web Development: From Zero to Expert!</h5>
                </div>
                <div class="lesson-top-right">
                    <div class="rbt-btn-close">
                        <a href="{% url 'courses:single_course' %}" title="Go Back to Course" class="rbt-round-btn"><i class="feather-x"></i></a> 
                    </div>
                </div>
            </div>
            <div class="inner">
                <div class="plyr__video-embed rbtplayer">
                    <iframe src="https://www.youtube.com/embed/qKzhrXqT6oE" allowfullscreen allow="autoplay"></iframe>
                </div>
                <div class="content">
                    <div class="section-title">
                        <h4>About Lesson</h4>
                        <p>Let us analyze the greatest hits of the past and learn what makes these tracks so
                            special. </p>
                    </div>
                </div>
            </div>
 
            <div class="bg-color-extra2 ptb--15 overflow-hidden">
                <div class="rbt-button-group">

                    <a class="rbt-btn icon-hover icon-hover-left btn-md bg-primary-opacity" href="#">
                        <span class="btn-icon"><i class="feather-arrow-left"></i></span>
                        <span class="btn-text">Previous</span>
                    </a>

                    <a class="rbt-btn icon-hover btn-md" href="#">
                        <span class="btn-text">Next</span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                    </a>

                </div>
            </div>

        </div>
    </div>
</div>


<div class="rbt-progress-parent">
    <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>
{% endblock%}